:root {
    --primary-color: #2F0020;
    --secondary-color: #062A00;
    --accent1-color: #FF00AE;
    --accent2-color: #1EDE01;
    --accent3-color: #FBF8F8;
}

/* #content {
    background-color: blue;
} */
#my-top-photo {
    display: none;
}
#contact-2 {
    display: none;
}

#main-portfolio-grid {
    /* background-color: red; */
    width: 100%;
    margin-top: 85px;
    margin-bottom: -49px;
    grid-template-columns: 1.5fr 0.6fr;
}

/** Section **/

#section-1 {
    background-color: #2F0020;
    color: #FBF8F8;
    padding: 0px 50px 25px 50px;
    text-align: left;
}
#section-1 p {
    color: #FBF8F8;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    /* word-spacing: 0.1em; */
    line-height: 25px;
}
#section-1 h1 {
    color: #1EDE01;
    text-align: center;
}
#section-1 h2 {
    color: #1EDE01;
    text-align: left;
    margin: -20px 0 -20px 0;
}
#section-1 #summary-header {
    text-align: center;
}
#section-1 h3 {
    color: #1EDE01;
    margin: -30px 0 1px 0;
}
#section-1 h3 a{
    color: #2F0020;
}
#section-1 .paragraph-sec b {
    display: inline;
    float: right;
    margin-top: -25px;
}
.paragraph-sec ul li{
    line-height: 30px;
    font-size: 22px;
}
#section-1 .paragraph-sec h3 a {
    color: #1EDE01;
}
.paragraph-sec a{
    color: #FBF8F8;
}
   
#section-1 h4 {
    color: #1EDE01;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 -15px 0;
}
.header-horizontal-rule {
    margin-top: -20px;
    margin-bottom: -35px;
}
.color-hr {
    background-color: #062A00;
    height: 1px;
}

/** Section 2 **/
#section-2 {
    background-color: #500237;
    padding: 25px;
    text-align: left;
}
#section-2 #port-img-box img{
    margin: 0 auto;
}
#section-2 .normal-hr {
    margin-bottom: -10px;
    margin-top: 25px;
}
#section-2 h2 {
    color: #1EDE01;
    margin-bottom: -15px;
}
#section-2 p {
    color: #FBF8F8;
    margin-top: 0;
}
#section-2 p a {
    display: block;
    color: #FBF8F8;
}
#section-2 ul li {
    color: #FBF8F8;
    text-align: left;
}

/* MEDIA QUARRY - SMALL-TAB AND LARGE-PHONE SCREEN */
@media screen and (max-width: 890px) {
    #main-portfolio-grid {
        font-size: 0.9em;
        margin-top: 80px;
        margin-bottom: -49px;
        grid-template-columns: 1.5fr 0.5fr;
    }

    #my-top-photo {
        display: block;
        margin: 0 auto;
        margin-bottom: -15px;
    }
    .header-horizontal-rule {
        margin-top: -20px;
        margin-bottom: 0;
    }
    #port-img-box {
        display: none;
    }
    
    /** Section 1 **/
    #section-1 {
        padding: 0px 40px 25px 40px;
    }
    #section-1 h1 {
        color: #1EDE01;
        text-align: center;
    }
    #section-1 h2 {
        color: #1EDE01;
        text-align: center;
        margin: -20px 0 -20px 0;
    }

    #contact {
        display: none;
    }

    /** Section 2 **/
    #section-2 {
        margin-top: 1px;
        background-color: #2F0020;
    }
    #contact-2 {
        display: block;
        /* margin-bottom: -25px; */
    }
    #contact-2 p b, #contact-2 p a{
        display: inline;
        word-spacing: 5px;
        line-height: 35px;
        font-size: 20px;
    }
}

/* MEDIA QUARRY - SMALL-TAB AND LARGE-PHONE SCREEN */
@media screen and (max-width: 489px) {
    #main-portfolio-grid {
        font-size: 0.8em;
        margin-top: 60px;
        margin-bottom: -49px;
        grid-template-columns: 1.5fr 0.5fr;
    }
    #section-1 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1px;
    }
    #section-1 h1 {
        font-size: 22px;
        margin: 25px;
    }
    #section-1 h2 {
        font-size: 18px;
        margin-top: -25px;
        margin-bottom: -25px;
    }

    #section-1 p {
        font-size: 16px;
        margin-top: 15px;
    }
    #section-1 .paragraph-sec b {
        display: block;
        float: left;
        margin-top: 0;
    }
    #section-1 h3 {
        margin-top: -30px;
    }
    #section-1 h4 {
        margin-top: 30px;
    }
    #section-1 ul li, #section-2 ul li,
    #section-2 #contact-2 p a {
        font-size: 18px;
    }

    #section-2 h2 {
        font-size: 18px;
        margin-bottom: -20px;
    }
}
