@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inter:wght@200&family=Jolly+Lodger&family=Petit+Formal+Script&family=Shadows+Into+Light&display=swap');

:root {
    --heading-font: "Petit Formal Script", Georgia, 'Times New Roman', Times, serif;
    --paragraph-font: Inter, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h2 {
    margin: 0;
}

p {
    font-family: var(--paragraph-font);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #FFFFFF;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #60A3E0;
}

#logo_link {
    padding-top: 5px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

a {
    text-decoration: none;
}

nav a {
    text-align: center;
    color: #0d1a26;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #316494;
    color: #FFFFFF;
}

.home-title {
    color: #316494;
    /* color: #FFFFFF; */
    font-size: 2em;
    margin-top: 10px;
}

main h2 {
    color: #316494;
}

h4 {
    color: #316494
    /* color: #FFFFFF */
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.book, .join {
    background-color: #60A3E0;
    /* background-color: #FFFFFF; */
    color: #0d1a26;
    /* color: #316494; */
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #316494;
}

.book:hover, .join:hover {
    background-color: #316494;
    color: #FFFFFF;
}

#background {
    height: 725px;
    background-color: #60A3E0;
}

.msg {
    background-color: #0d1a26;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    color: #FFFFFF;
    font-size: .8em;
    padding-bottom: 15px;
}

.msg h2 {
    color: #FFFFFF
}

footer {
    /* background-color: #FFFFFF; */
    background-color: #0d1a26;
    color: #FFFFFF;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #60A3E0;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    /* text-decoration: underline; */
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}
